section {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  #mathematiques {
    margin-top: 20px; /* ajustez la valeur pour que la section "mathematiques" ne dépasse pas la section "tableau" */
  }
}

@media (max-width: 768px) {
  #tableau {
    min-height: 300px; /* ajustez la valeur pour que la section "tableau" ait une hauteur minimale */
  }
}

@media (max-width: 480px) {
  #mathematiques {
    margin-top: 10px; /* ajustez la valeur pour que la section "mathematiques" ne dépasse pas la section "tableau" sur les petits écrans */
  }
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 20px; /* ajustez la valeur pour que les sections aient un espace entre elles */
  }
}